#Deep eye validation
EYE_IMAGE_SIZE=5 #MB
EYE_IMAGE_TYPE=["image/jpg","image/jpeg","image/png"]
EYE_IMAGE_DIMENSION=[300,300]

#Deep learning model for eye classification
EYE_CLASSIFIER_MODEL_PATH=
EYE_DISEASES_MODEL_PATH=
EYE_CLASS_LIST=
EYE_DISEASES_CLASS_LIST=
#Machine eye validation
MIN_AGE=3
MAX_AGE=120
MIN_DM_TIME=0
MAX_DM_TIME=90
MIN_WEIGHT_KG=30
MAX_WEIGHT_KG=300
MIN_HEIGHT_CM=100
MAX_HEIGHT_CM=270
OBESITY_BMI_THRESHOLD=24 
#Machine learning model for eye classification
EYE_MACHINE_MODEL_PATH=
EYE_DISEASES_CLASS_LIST_MACHINE_MODEL=